.easyuse{
  @include flex(center,center);
  flex-direction: column;
  @include font-source($FontRaleway, 1rem, $black, normal);
  &__text{
   max-width: 600px;
   text-align: center;
    margin-top: 40px;
    line-height: 1.8;
    h1{
      @include font-source($FontRaleway, 2.5rem);
    }
    h3{
      @include font-source($FontRaleway, 1.3rem, $grey);
    }
    p{
      @include font-source($FontRaleway, .8rem, $grey);
    }
  }
  &__services{
    @include flex(space-between,center);
    width: 100%;
    .services-item{
     margin-top: 96px;
     max-width: 350px;
     text-align: center;
      .service-item__text h3{
        margin-top: 45px;
        margin-bottom: 18px;
      }
      & p{
        @include font-source($FontRaleway, .75rem, $grey);
        line-height: 1.5;
       }
     }
  }
  &__btn {
    @include btn($green, $green, $white, 15px 35px, 5px);
    @include font-source($FontRoboto,1rem,$white,bold,uppercase);
    margin-top: 78px;
    margin-bottom: 98px;
  }
}
