.easyuse{
  @include flex(center,center);
  flex-direction: column;
  @include font-source($FontRaleway, 1rem, $black, normal);
  &__text{
    margin-top: 40px;
    @include h1-p(44%,15px,90px,2.3rem,0.75rem,$black,$grey,600,center,none);
    h3{
      @include font-source($FontRaleway, 1.3rem, $grey,500);
      text-align: center;
      margin-bottom: 20px;
    }
  }
  &__services{
    @include flex(center,flex-end);
    width: 100%;
    .services-item {
      max-width: 350px;
      text-align: center;
      margin-left: 6%;
      .service-item__text {
        margin-top: 30px;
        @include h1-p(100%,17px,0,1rem,0.75rem,$black,$grey,600,center,none);
        }
      }
    }
  &__btn {
    @include btn($green, $green, $white, 15px 35px, 5px);
    @include font-source($FontRoboto,1rem,$white,bold,uppercase);
    margin-top: 83px;
    margin-bottom: 63px;
  }
}
