@mixin flex($jc:flex-start,$ai:flex-start){
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-wrap: wrap;
}
@mixin font-source($ff:$FontRalew,$size: false, $colour: false, $weight: false, $tt:false) {
  font-family: $ff, Helvetica, Arial, sans-serif;
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $tt { text-transform: $tt; }
}
@mixin img ($width){
    width: $width;
    img {
      width: 100%;
      height: auto;
    }
}
@mixin btn($bg,$bd,$col,$pad,$rad:false){
  background: $bg;
  border: 1px solid $bd;
  padding: $pad;
  color: $col;
  @if $rad {border-radius: $rad; }
  &:hover {
    @if $bg==transparent{transform: scale(1.3);}
    @else {color: $bg;
           background: $col;
           border:1px solid $col;
           cursor: pointer;}
  }
}

