:root{
    font-size: 60px;
}
* {
    padding: 0;
    margin: 0;
    font-family:"Segoe WP N", sans-serif;
    color: #6f7173;
    font-weight: normal;
    box-sizing: border-box;
}
hr{
     color: lightgrey;
 }
.container{
    width: 82%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    max-width: 175px;
    margin-left: 10px;
}
.logo img{
    margin-top: 10px;
    width: 100%;
    height: auto;
}
.menu{
    margin-top: 25px;
    display: flex;
    list-style: none;
}
.menu__link{
    text-decoration: none;
    font-size: 0.4rem;
    display: inline-block;
    line-height: 2;
    cursor: pointer;
    position:relative;
    border-bottom: 3px solid #fff;
    margin-right: 25px;
}
 .menu-button{
     display: none;
     background: #5094f2;
     width: 50px;
     height: 50px;
     margin: 10px 20px 10px 0;
     font-size: .8rem;
 }
 .menu-button p{
    transform: scale(1);
     text-align: center;
     position: relative;
     top: -20%;
     color: white;
 }
input[type="checkbox"]{
     display: none;
}
.menu__link:after {
    background-color: #5094f2;
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    left:50%;
    position:absolute;
    transition: width .3s ease-in-out;
    transform:translateX(-50%);
}
.menu__link:hover:after,
.menu__link:focus:after {
    width: 100%;
}
.banner{
    background: #5b6c7f url(../img/1.jpg) no-repeat center top / cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner__prev{
    margin-left: 7.36%;
}
.banner__next{
    margin-right: 7.36%;
}
.banner__phone{
    margin: 36px 8.8% 0 5.04%;
    min-width: 28%;
}
.banner__phone img {
    width: 100%;
    height: auto;
}
.banner__text {
    min-width: 40.3%;
}
.banner__text h1{
    font-family: "Segoe WP Light", sans-serif;
    font-size: 0.7rem;
    color: white;
    line-height: 1.5;
}
.banner__text p{
    font-family: "Segoe WP Light", sans-serif;
    font-size: 0.5rem;
    color: white;
    line-height: 1.5;
}
.banner__singup {
    width: 174px;
    margin-left: 10px;
}
.banner__singup img{
    width: 100%;
    height: auto;
}
.services{
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.services__item{
    width: 33.33333%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-item__img{
    max-width: 187px;
}
.service-item__img img{
    width: 100%;
    height: auto;
}
.services hr{
    display: none;
}
.service-item__text{
     text-align: center;
}
.service-item__text h3{
    font-size: 0.4rem;
    margin: 0 0 10px 0;
    color: #5094f2
}
.service-item__text p{
    font-size: 0.3rem;
    margin: 0 30px;
}
.services-cart{
    display: flex;
}
.services-cart__img{
     min-width: 35%;
 }
.services__cart h1{
    margin-top: 83px;
    margin-bottom: 30px;
    font-size: .8rem;
}
.services-cart__img img{
    width: 100%;
    height: auto;
}
.services-cart__text{
   margin: 0 10px 0 70px;
}
.services-cart__text h2{
    line-height: 70px;
    font-size: 0.6rem;
}
.services-cart__text p{
    line-height: 36px;
    font-size: 0.32rem;
    margin-bottom: 56px;
}
footer{
    line-height: 95px;
    font-size: 0.32rem;
    text-align: center;
}
@media screen and (max-width:1024px) {
    :root {
        font-size: 50px;
    }
    .container{
        width: 100%;
    }
    .banner__phone{
        margin-right: 1%;
    }
    .services{
        margin-left: 10px;
        margin-right: 20px;
    }
    .services-cart__text{
        margin: 0 10px;
    }
    .services__cart h1{
       margin-left: 20px;
    }
}

@media screen and (max-width:640px) {
    .logo{
        margin-left: 30px;
    }
    .menu{
        display: none;
        width: 20%;
        margin: 0 30px 0 0;
        position: absolute;
        z-index: 2;
        background: white;
    }
    .menu-button{
        display: block;
        margin-left: 100px;
        font-size: 1rem;
    }
    input[type="checkbox"]:checked ~ .menu-button+.menu{
        display: block;
    }
    .banner__text {
        min-width:60%;
    }
    .banner__phone img {
        width: 80%;
        height: auto;
    }
    .banner__text h1{
        font-size: 0.55rem;
      }
    .banner__text p{
        font-size: 0.45rem;
    }
    .banner__prev{
        display: none;
     }
    .banner__next{
        display: none;
     }
    .services__item{
        width: 100%;
        flex-direction: row;
        text-align: left;
        margin: 20px 5px 10px 5px;
      }
    .services hr{
        display: block;
    }
    .service-item__text{
        text-align: left;
      }
    .service-item__text h3{
        font-size: 0.5rem;
        margin-left: 30px;
    }
    .service-item__text p{
        font-size: 0.35rem;
    }
    .services{
        margin-top: 0px;
        flex-direction: column;
    }
    .services-cart{
        flex-wrap: wrap;
        margin-top: 0;
    }
    .services-cart__img{
        margin: 0 auto;
    }
    .services__cart h1 {
        margin: 50px 0 40px 0;
        font-size: 0.8rem;
        text-align: center;
    }
    .services-cart__text{
        margin-left: 30px;
        margin-right: 20px;
    }
}
@media screen and (max-width:465px) {
    :root {
        font-size: 40px;
    }
    .menu-button{
        height: 42px;
    font-size: 1rem;
    }
    .banner__singup img{
        width: 70%;
        height: auto;
    }
    .banner__text h1{
        font-size: 0.5rem;
    }
    .banner__text p{
        font-size: 0.4rem;
    }
    .service-item__text p{
       margin-left:10px;
    }
    .service-item__text h3{
        margin-left:5px;
    }
    .services-cart__text{
        margin-left: 10px;
    }

}
