* {
    padding: 0;
    margin: 0;
    font-family:"Segoe WP N", sans-serif;
    color: #6f7173;
}

.container{
    width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*flex-wrap: wrap;*/
}

.logo{
    margin-top: 10px;
}

.menu{
    margin-top: 25px;
    display: flex;
    list-style: none;
}

.menu__link{
    text-decoration: none;
    font-size: 18.35pt;
    display: inline-block;
    line-height: 2;
    cursor: pointer;
    position:relative;
    border-bottom: 3px solid #fff;
    margin-left: 25px;
}

.menu__link:after {
    background-color: #5094f2;
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    left:50%;
    position:absolute;
    transition: width .3s ease-in-out;
    transform:translateX(-50%);
}
.menu__link:hover:after,
.menu__link:focus:after {
    width: 100%;
}

.banner{
    background: #5b6c7f url(../img/1.jpg) no-repeat center top / cover;
    display: flex;
    align-items: center;
}
.banner__prev{
    margin-left: 92px;
}
.banner__next{
    margin-right: 92px;
}
.banner__phone{
    margin-top: 39px;
}
.banner__text {
    margin-right: 110px;
}
.banner__text h1{
    font-family: "Segoe WP Light", sans-serif;
    font-size: 30.35pt;
    color: white;
    line-height: 1.5;
}
.banner__text p{
    font-family: "Segoe WP Light", sans-serif;
    font-size: 20.35pt;
    color: white;
    line-height: 1.5;
    padding-bottom: 30px;
}
.banner__singup {
    margin-left: 10px;
}
.services{
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
}
.services__item{
    width: 320px;
    text-align: center;
}
.services__item h3{
    font-size: 14.35pt;
    margin: 20px 0 10px 0;
    color: #5094f2
}
.services__item p{
    font-size: 10.35pt;
}
.services__cart{
    margin: 83px auto auto 40px;
    font-size: 21px;
}
.services__cart img{
    margin-top: 33px;
}
.services__text{
    margin: 140px 0 0 70px;
}
.services__text h2{
    line-height: 50px;
    font-size: 26.35px;
}
.services__text p{
    line-height: 36px;
    font-size: 15.35px;
    margin-bottom: 56px;
}
footer{
    line-height: 95px;
    font-size: 13.35pt;
    text-align: center;
}

